* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    /* background-color: salmon; */
    background-image: url("../jpg/sound.jpg");

}

.keys {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80vw;
    height: 30vh;
    /* border: 2px green dashed; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.key {
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: dodgerblue 2px solid;
    display: flex;
    flex-direction: column;
    flex-basis: 15%;
    flex-shrink: 1;
    background-color: rgb(139, 69, 19, 0.8);


    height: 50%;
}

.active {
    transform: scale(1.1);
    border-color: rgb(227, 243, 4);
    box-shadow: 0 0 5px rgb(227, 243, 4);
}

.keys div kbd {
    display: block;
    font-size: 48px;
    margin-top: 15%;
    height: 60%;
    text-align: center;
    color: honeydew;

}

.keys div span.sound {
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    color: rgb(32, 11, 11);
    letter-spacing: 1px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 2%;
}